body{

    MARGIN-LEFT: 22%;
    MARGIN-RIGHT: 22%;
    font-family:serif ;

    
}
header {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 250%;
}

* { margin: 0; padding: 0; }

.caixa
{
background-color: aqua;


}

.titulo
{
font-style: oblique;
font-family: monospace;


}

h1
{
    margin: revert;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

}
.texto

{
    display: flex;
	flex-direction: row-reverse ;
  font-size:x-large


}
.imagens
{
    
    height: 350px;
    width: 550px;
}


.slider {
    display: flex;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    
    align-items: center;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 350px;
    width: 550px;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #000;
    right: 200px;
    bottom: 50px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
    align-items: center;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}
.slider img {
    
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}